@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);

html, body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
}

.header {
    position: absolute;
    z-index: -1;
    top: 0px;
    padding-left: 50px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #75e6da;
}

.select2 {
    width: 320px;
}

.tab {
    width: 120px;
    font-size: 20px;
}

.smallButton {
    font-size: 18px;
    font-weight: bolder;
    background-color: #00ffff;
}

.smallButton:hover {
    background-color: yellow;
}

#deleteButton {
    float: right;
    font-size: 40px;
    color: red;
    display: none;
}

#convertButton {
    font-size: 24px;
    border-radius: 15px;
}

#convertButton:hover {
    background-color: yellow;
}

#inputAmount {
    width: 300px;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

#outputAmount {
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    margin-top: 5px;
}

#activityBox {
    margin: auto;
    height: 308px;
    width: auto;
    border: 1px solid #0000ff;
    display: none;
    text-align: left;
    overflow-y: auto;
}

#activityDiv {
    text-align: center;
    float: right;
    margin-right: 10px;
    margin-top: 72px;
}

#leftDiv {
    float: left;
    margin-left: 100px;
    margin-top: 120px;
}

#converterDiv {
    box-shadow: 3px 3px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 850px;
}

#trendsDiv {
    border: 1px solid #0000ff;
    height: 400px;
    width: 100%;
    padding-top: 1px;
    margin: 1px;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #activityBox {
      height: 100px;
  }
  
  #leftDiv {
      text-align: center;
      float: center;
      margin-left: 0px;
  }
  
  #converterDiv {
      width: auto;
  }
}
footer {
    margin-top: auto;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}






